/bin
/obj
.*
~.*
Makefile*
*.o
*.manifest
gmon*
*.log
*.Debug
*.Release
moc_*
!.gitignore
!.plcaholder
!*.example
!.nuget
*.orig
*.bak
*.cache
*.cache
bin
packages
obj
KalibratorGUI*/gen/*.cs
!KalibratorGUI*/gen/*Generator.cs
__py*__

*.csproj.user
!KalibratorGUI_WPF/Docs/Daigrams/*.orig